* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
  font-family: sans-serif;
}

/* nav section */
.navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: end;
  height: auto;
}
.title {
  margin-left: 30px;
  text-decoration: none;
  font-size: 25px;
}

.navbar-items {
  list-style: none;
  float: right;
}

.nav-item {
  display: inline;
  padding-right: 30px;
}
.navbar-items a {
  text-decoration: none;
  text-align: right;
}

/* Meal Item */
#meal {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-content: center;
  margin-left: 100px;
}
.card-div {
  cursor: pointer;
  border-radius: 16px;
}

/* Meal Details */
#meal-details {
  width: 450px;
  margin: 0 auto;
}

/* Meal Ingredient  */
.ingredient-items {
  margin-left: 20px;
  list-style: none;
}

/* Icon */
.fa-check-square {
  color: red;
}
